node_modules/
npm-debug.log*
yarn-error.log*
yarn.lock 

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pids/
*.pid
*.seed
*.pid.lock

.env 
/env 
.env.local 
.env.*.local 

*.mongodb/
*.mongo/
mongod.lock 
mongod.pid

